html {
    font-size: 100%;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

}

/*   MENU   */

/*
.hidden {
        display: none
       transform: scale(0)
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
}
*/

/* unvisited link */
header nav a:link {
    color: #181616;
}

/* visited link */
header nav a:visited {
    color: #181616;
}

/* mouse over link */
header nav a:hover {
    color: #008000;
}

/* selected link */
header nav a:active {
    color: #008000;
}

header {
    line-height: 0.1;



}

header nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 68vw;



}

header nav a {
    font-size: 0.8rem;
    text-decoration: none;
    font-family: days one;

}

header li {
    padding: 0.5vw;
}



@font-face {
    font-family: 'changoregular';
    src: url('fonts/chango/chango-regular-webfont.woff2') format('woff2'),
        url('chango-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




img {
    width: 100%;
    height: 100%;
}

/*   FORSIDE   */


#forside_container {
    position: relative;
    height: 30vw;
    width: 99vw;
    padding-top: 5vw;
    margin-left: 0.5vw;
    background-color: #008000;
    margin-bottom: 1vw;


}

#forside_knap {
    position: absolute;
    width: 30vw;
    height: 4.6vw;
    /*background-image: url(billeder/knap.svg);*/
    background-size: 100%;
    margin-left: 46vw;
    margin-top: 13vw;

}

#forside_knap_txt {
    position: absolute;
    margin-left: 55vw;
    margin-top: 11.8vw;
    font-size: 2vw;
    font-family: Days One;
    color: #f0f0f0;

}

#forside_h1 {
    position: absolute;
    margin-left: 55.6vw;
    font-size: 1.6vw;
    color: #f0f0f0;
    font-family: changoregular;

}

#forside_h2 {
    position: absolute;
    margin-left: 58.6vw;
    margin-top: 3.7vw;
    font-size: 1vw;
    color: #f0f0f0;
    font-family: 'Days One';
}


#forside_billede {
    position: absolute;
    margin-top: 0vw;
    transform: rotate(19deg);
    margin-left: 10vw;
    width: 34vw;

}

#forside_grass {
    position: absolute;
    top: 27.8vw;
    width: 99vw;

}

/*   SERVICE   */

#service_container {
    position: relative;
    height: 30vw;
    width: 99vw;
    margin-left: 0.5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: #f0f0f0;
    margin-bottom: 1vw;

}



#service_opgaver p {
    color: #181616;

}


#service_billede {
    position: absolute;
    width: 40vw;
    height: 20vw;
    margin-left: 55vw;
    margin-top: 6vw;


}


#servicetxt {
    position: absolute;
    margin-right: 50vw;
    margin-left: 6vw;
    margin-top: 9vw;
    font-size: 1.2vw;
    font-family: Vollkorn;


}


#service_h2 {
    position: absolute;
    margin-left: 6vw;
    margin-top: 5vw;
    font-size: 1vw;
    font-family: Days One;

}

#service_h1 {
    display: none;
}


/*grÃ¸nne arealer*/

#gronne_arealer_container {
    position: relative;
    background-color: #008000;
    height: 30vw;
    width: 99vw;
    margin-left: 0.5vw;
    margin-bottom: 1vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

#gronne_arealer_mobil {
    display: none;
}

#gronne_arealer_h2 {
    position: absolute;
    margin-left: 54vw;
    font-size: 1vw;
    margin-top: 5vw;
    color: #ffffff;
    font-family: Days One;

}

#gronne_arealer_txt1 {
    position: absolute;
    margin-top: 10vw;
    margin-left: 54vw;
    font-size: 1.2vw;
    color: #ffffff;
    font-family: Vollkorn;


}

#gronne_arealer_txt2 {
    position: absolute;
    margin-top: 13vw;
    font-size: 1.2vw;
    margin-left: 54vw;
    width: 30vw;
    color: #ffffff;
    font-family: Vollkorn;

}

#gronne_arealer_txt3 {
    position: absolute;
    margin-top: 18vw;
    font-size: 1.2vw;
    width: 30vw;
    color: #ffffff;
    font-family: Vollkorn;

    margin-left: 54vw;
}

#gronne_arealer_img {
    position: absolute;

    height: 23vw;
    width: 45vw;
    margin-top: 3vw;
    margin-left: 6vw;

}



/*SNE*/

#sne_container {
    position: relative;

    margin-left: 0.5vw;
    margin-bottom: 1vw;
    width: 180vw;
    height: 35vw;
    padding-bottom: 2vw;
    overflow: hidden;


}





#sne_baggrund {
    position: absolute;
    padding-top: 0vw;
    height: 47vw;
    width: 160vw;
    padding-left: 0vw;
    margin-top: -10vw;

}

#sne_txt1 {


    position: absolute;
    margin-top: 11vw;
    margin-right: 50vw;
    margin-left: 2vw;
    font-size: 1.2vw;
    width: 22vw;

    font-family: Vollkorn;


}

#sne_txt2 {

    position: absolute;
    margin-top: 16vw;
    margin-right: 50vw;
    margin-left: 2vw;
    font-size: 1.2vw;
    width: 25vw;
    font-family: Vollkorn;



}

#sne_h2 {
    position: absolute;
    margin-left: 2vw;
    margin-top: 0.1vw;
    font-size: 1.4vw;
    font-family: Days One;

}

#sne p {
    color: #181616;


}

#sne_h2 {
    color: #181616;
    margin-top: 8vw;
    font-size: 1vw;

}

#sne h3 {
    color: #181616;
}

#sne_mobil {
    display: none;
}

/*Vikarservice*/

#vikarservice_container {
    position: relative;
    height: 30vw;
    background-color: #008000;
    width: 99vw;
    margin-left: 0.5vw;
    margin-bottom: 1vw;
    padding-top: 2vw;
    padding-bottom: 2vw;


}

#vikar_h2 {
    position: absolute;
    margin-left: 6vw;
    margin-top: 5vw;
    font-size: 1vw;
    color: #f0f0f0;
    font-family: Days One;

}

#vikar_txt1 {
    position: absolute;
    margin-top: 10vw;
    margin-left: 6vw;
    font-size: 1.2vw;
    width: 27vw;
    color: #f0f0f0;
    font-family: Vollkorn;

}

#vikar_txt2 {

    position: absolute;
    margin-top: 15vw;
    margin-right: 50vw;
    margin-left: 6vw;
    font-size: 1.2vw;
    width: 33vw;
    color: #f0f0f0;
    font-family: Vollkorn;

}

#vikar_img {
    position: absolute;
    height: 34vw;
    width: 50vw;
    margin-left: 50vw;
    margin-top: -2vw;
}

#vikar_mobil {
    display: none;
}

/*       Map        */

#map_container {
    position: relative;
    height: 32vw;
    width: 99vw;
    margin-left: 0.5vw;
    margin-bottom: 1vw;
    overflow: hidden;

}


#map_baggrund {
    position: absolute;
    height: 40vw;
    width: 99vw;
    margin-top: -8vw;

}

#map_txt {
    position: absolute;
    margin-top: 5vw;
    margin-left: 60vw;
    font-size: 1.8vw;
    width: 30vw;

    font-family: Vollkorn;

}

#map_mobil {
    display: none;
}


footer {
    position: relative;
    background-color: #181616;
    height: 11vw;
    width: 100vw;

    margin-top: 0.5vw;


}


#footer_img {
    position: absolute;
    width: 12vw;
    height: 5vw;
    margin-left: 70vw;
    margin-top: 2vw;
    border-radius: 8px;
    overflow: hidden;


}


#footer_title {
    position: absolute;
    margin-left: 20vw;
    font-size: 1.2vw;
    font-family: Vollkorn;

    color: #f0f0f0;

}

#footer_adresse {
    position: absolute;
    margin-left: 20vw;
    margin-top: 1.5vw;
    font-size: 1.2vw;
    font-family: Vollkorn;

    color: #f0f0f0;

}

#footer_cvr {
    position: absolute;
    margin-left: 20vw;
    margin-top: 5vw;
    font-size: 1.2vw;
    font-family: Vollkorn;

    color: #f0f0f0;

}

#footer_tlf {
    position: absolute;
    margin-left: 40vw;
    margin-top: 1vw;
    font-size: 1.2vw;
    font-family: Vollkorn;

    color: #f0f0f0;

}

#footer_email {
    position: absolute;
    margin-left: 40vw;
    margin-top: 3vw;
    font-size: 1.2vw;
    font-family: Vollkorn;

    color: #f0f0f0;

}

#footer_bank {
    position: absolute;
    margin-left: 40vw;
    margin-top: 5vw;
    font-size: 1.2vw;

    font-family: Vollkorn;

    color: #f0f0f0;

}


/*   RESPONSIVE   */

/*
@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }


}
*/

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }


}

@media only screen and (max-width: 600px) {

    body {

        overflow-x: hidden;
        margin: 0;
        padding: 0;
        background-color: #ffffff;

        padding-left: 2.5vw;
        padding-right: 2.5vw;

    }

    #menu {
        display: none;
    }

    /*
    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
*/
    h2 {
        position: relative;
        font-family: days one;
        padding: 13vw;
        margin-top: 29vw;
        font-size: 7vw;
        z-index: 1;
    }

    #forside_container {
        height: 130vw;
        width: 90vw;
        margin-bottom: 6vw;
        overflow: hidden;
    }

    #forside_h1 {
        margin-left: 12vw;
        margin-top: 4vw;
        font-size: 4vw;
        color: white;
        font-family: changoregular;
    }

    #forside_h2 h2 {
        margin-left: -52vw;
        margin-top: 0vw;
        font-size: 4vw;
        color: white;
        font-family: 'days one';
    }

    #forside_billede {
        margin-top: 52vw;

        transform: rotate(15deg);
        margin-left: 4vw;
        width: 95vw;
    }

    #forside_grass {
        margin-top: 93vw;
        margin-left: 0vw;
        width: 200vw;
        height: 14vw;
        overflow: hidden;
    }

    #service_container {
        background-color: #f0f0f0;
        margin-bottom: 6vw;
        padding-top: 16vw;
        padding-bottom: 16vw;
        height: 60vw;
        width: 90vw;

    }

    #service_opgaver p {
        color: black;
    }


    #service_billede {
        width: 90vw;
        height: 50vw;
        margin-left: 0vw;

    }


    #servicetxt {
        display: none;

    }


    #service_h2 {
        padding-top: 13vw;
        padding-left: 5vw;
        display: none;
        font-size: 4vw;

    }

    #service_h1 {
        display: unset;
        margin-top: -10vw;
        margin-left: -10vw;
    }

    #service_h1 h2 {
        margin: 0 0 0 0;
    }

    #gronne_arealer_container {
        height: 92vw;
        width: 90vw;
        margin-bottom: 6vw;
        overflow: hidden;
    }

    #gronne_arealer_mobil {
        display: unset;
        color: #181616;
    }

    #gronne_arealer_h2 {
        display: none;
        font-size: 4vw;
        color: #f0f0f0;
    }

    #gronne_arealer_txt1 {
        display: none;
    }

    #gronne_arealer_txt2 {
        display: none;
    }

    #gronne_arealer_txt3 {
        display: none;
    }

    #gronne_arealer_img {
        width: 145vw;
        height: 90vw;
        overflow-x: hidden;
        margin-left: -25vw;
    }

    #sne_container {
        height: 78vw;
        width: 90vw;
        overflow: hidden;
        margin-bottom: 6vw;
    }

    #sne_baggrund {
        width: 300vw;
        height: 90vw;
        margin-left: -90vw;
    }

    #sne_txt1 {
        display: none;
    }

    #sne_txt2 {
        display: none;
    }

    #sne_h2 {
        display: none;
    }

    #sne_mobil {
        display: unset;
    }

    #sne_mobil h2 {
        margin-top: 13vw;
        margin-left: -5vw;
    }

    #vikarservice_container {
        height: 80vw;
        width: 90vw;
        overflow: hidden;
        margin-bottom: 6vw;
    }

    #vikar_h2 {
        display: none;
    }

    #vikar_txt1 {
        display: none;
    }

    #vikar_txt2 {
        display: none;
    }

    #vikar_img {
        width: 240vw;
        height: 105vw;
        margin-left: 0vw;
    }

    #vikar_mobil {
        display: unset;
    }

    #vikar_mobil h2 {
        color: #f0f0f0;
        margin-top: 19vw;
    }


    /*       Map        */

    #map_container {
        height: 80vw;
        width: 90vw;
        margin-bottom: 6vw;

        overflow: hidden;
    }


    #map_baggrund {
        width: 180vw;
        height: 100vw;
        margin-top: -18vw;
        margin-left: -10vw;

    }

    #map_txt {
        display: none;

    }

    #map_mobil {
        display: unset;
    }

    #map_mobil h2 {
        margin-top: 23vw;
        margin-left: 20vw;
    }

    footer {
        position: relative;

        height: 90vw;
        width: 90vw;
        padding-bottom: 6vw;

    }


    #footer_img {
        position: absolute;
        width: 22vw;
        height: 15vw;
        margin-left: 20rem;
        margin-top: 70vw;
        border-radius: 8px;
        margin-bottom: -5vw;
        overflow: hidden;
    }

    #footer_title {
        position: absolute;
        margin-left: 4vw;
        margin-top: 4vw;
        font-size: 5vw;
    }

    #footer_adresse {
        position: absolute;
        margin-left: 4vw;
        margin-top: 10vw;
        font-size: 5vw;
    }

    #footer_cvr {
        position: absolute;
        margin-left: 4vw;
        margin-top: 16vw;
        font-size: 5vw;
    }

    #footer_tlf {
        position: absolute;
        margin-left: 4vw;
        margin-top: 30vw;
        font-size: 5vw;
    }

    #footer_email {
        position: absolute;
        margin-left: 4vw;
        margin-top: 36vw;
        font-size: 5vw;
    }

    #footer_bank {
        position: absolute;
        margin-left: 4vw;
        margin-top: 55vw;
        font-size: 5vw;
    }



    img {
        width: 100%;
    }

}
